body {
    background-color: black;
}

.btn-primary{
  margin-left: 20px;
}

.form-control[type="search"] + .btn-outline-success {
    --bs-btn-color: #01b3ef;
    --bs-btn-border-color: #01b3ef;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #01b3ef;
    --bs-btn-hover-border-color: #01b3ef;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #01b3ef;
    --bs-btn-active-border-color: #01b3ef;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #01b3ef;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #01b3ef;
    --bs-gradient: none;
}

#grad1 {
    height: 100%;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(#01427a, #01b3ef);
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    object-fit: cover;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }

  /* Book Listings Section */
#books {
  padding: 50px 0;
}

.card {
  border: 1px solid #ddd; /* Card border */
  border-radius: 10px; /* Card border radius */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Card shadow on hover */
}

.card-img-top {
  border-top-left-radius: 10px; /* Rounded corners for top left of the image */
  border-top-right-radius: 10px; /* Rounded corners for top right of the image */
  width: 400px;
  height: 450px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #666; /* Text color */
  font-size: 16px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff; /* Primary button background color */
  border-color: #007bff; /* Primary button border color */
}

.btn-primary:hover {
  background-color: #0056b3; /* Primary button background color on hover */
  border-color: #0056b3; /* Primary button border color on hover */
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Primary button shadow on focus */
}

.popular-books {
  font-size: 32px;
  font-weight: 500;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto;
  color: white;
  text-align: center;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 0rem !important;
}

.row-footer {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: 10px;
  margin-left: 10px;
}

.footer-logo{
  height: 60px;
}

.dark-background{
  background-color: #212529;
  color: white !important;
}

body{
  color: #fff;
}

.main-logo{
  height: 40px;
}

.text-body-secondary {
  --bs-text-opacity: 0;
  color: #fff !important;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
}

footer h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

footer p {
  margin: 0.5rem 0;
}

footer .text-md-end {
  text-align: right;
}

footer .text-md-end p {
  margin: 0;
}